/* RESET */
@import url("modern-normalize.css");    /* Modern-normalize CSS reset */
/* COMPONENT STYLING */
@import url("draggable.css");           /* Base draggable object styling */
@import url("logic-operator.css");      /* Logic-operator object styling */

body {
    font-family: sans-serif;
    color: #fff;
    background-color: #000;
}

main {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
}

main > div {
    height: 100%;
}

#maze-container {
    width: 40%;
    background-color: #000;
}

#editor-root {
    flex-grow: 1;
    background-color: #111;
    overflow: hidden;
}

#truth-table {
    height: 200px;
    width: 200px;
    background-color: red;
    display: none;
}

